
<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="hero">
    <span class="hero-content">
        <img src="/images/vehicles/delorean.jpg" alt="delorean car" id="hero-image">
    </span>
</div>
<div class="delorean">
    <h3>DMC Delorean</h3>
    <ul>
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
    </ul>
    <button class="button">Own Today</button>
</div>
<div class="upgrades">
    <h4>Delorean Upgrades</h4>
    <div class="first">
        <picture>
            <img src="images/upgrades/flux-cap.png" alt="flux caps">
        </picture>
        <a href="#" title="Flux capacitor">Flux Capacitor</a>
    </div>
    <div class="second">
        <picture>
            <img src="images/upgrades/flame.jpg" alt="flame decals">
        </picture>
        <a href="#" title="Flame decals">Flame Decals</a>
    </div>
    <div class="third">
        <picture>
            <img src="images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
        </picture>
        <a href="#" title="Bumper stickers">Bumper Stickers</a>
    </div>
    <div class="fourth">
        <picture>
            <img src="images/upgrades/hub-cap.jpg" alt="hub caps">
        </picture>
        <a href="#" title="Hub caps">Hub Caps</a>
    </div>
</div>
<div class="reviews">
    <h4>DMC Delorean Reviews</h4>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>