<%# A consistant header among pages%>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# A message block available for messages we want to add to the page later%>
<%- messages() %>

<%# Code block to display errors %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div>
    <p>ALL FIELDS ARE REQUIRED.</p>
    <form class="new-vehicle-form" action="/inv/add-vehicle/" method="post">
      <fieldset>
        <label for="classification_name"><strong>Classification:</strong></label><br>
        <select name="classification_name" id="classification_name" required><br>
            <script>
            let data = await invModel.getClassifications()
            data.rows.forEach((row) => {
                list += "<li>"
                list += row.classification_name
                list += "</li>"
              })
            </script>
        <input type="submit" value="Add Vehicle">
      </fieldset>
    </form>
  </div>