<%# A consistant header among pages%>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# A message block available for messages we want to add to the page later%>
<%- messages() %>

<%# The code to display the grid %>
<%# This code is very simple the view is meant to display content, not necessarily to contain logic %>
<%- grid %>